.country-dropdown {
    margin: 0 auto;
    width: 20rem;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid #1f1f1f;
  }

  @media (max-width: 600px) {
    .country-dropdown {
        width: 80%; 
    }
}